body {
  display: grid;
  margin: 0;
  width: 100vw;
  height: 100%;
  grid-template-rows: 20% 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  font-family: 'Roboto';
}

header {
  display: flex;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  flex-flow: row-reverse wrap;
  align-items: flex-end;
  justify-content: space-between;
  align-content: baseline;
  background: rgb(43, 43, 43);
  padding: 1rem 2rem 0;
  margin: 0;
}

.login {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: wrap;
  color: rgb(38, 181, 252);
  width: 100vw;
  justify: right;
}

header img {
  height: 1.5rem;
  width: 1.5rem;
  flex: none;
  align-self: center;
  margin: 1rem .5rem 1rem 1rem;
}

.login p {
  font-size: 10pt;
}

.triangle {
  height: .75rem;
  width: .75rem;
}

.nav {
  display: flex;
  order: 1;
  color: grey;
}

.nav div {
  display: flex;
}

.active {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.25rem;
  width: auto;
  align-self: center
  padding: .5rem;
}

main {
  grid-column: 1 / 5;
  background: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  color: #585563;
  padding-bottom: 1rem;
}

.article-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
}

.article-container h1{
  width: 100vw;
  padding-left: 1rem;
  color: dimgray;
}

.article-container article {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 15rem;
  max-height: 28rem;
  margin: .5rem;
}

.top {
  background-image: url("images/people.jpeg");
  background-position: cover;
  background-color: grey;
  background-blend-mode: multiply;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 7rem;
  padding: .5rem;
}

.top img{
  height: 5rem;
  width: 5rem;
}

.view-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: .5rem;
  width: 1rem;
  color: white;
  padding: 2.5rem 2rem;
}

.view-group p {
  padding-bottom: 0;
  margin: 0;

  font-size: 10pt;
}
.view-group h3 {
  font-size: 28pt;
  padding-top: 0;
  margin: 0;
}

.bottom {
  margin: 0;
  padding: 1rem;
  color: gray;
}

.bottom h4 {
  margin: 0;
}

.bottom p {
  margin: 0;
  font-size: 10pt;
  color: silver;
}

.bottom aside {
  margin-top: 1rem;
  padding: .5rem ;
  font-size: 10pt;
  background-color: gainsboro;
  hyphens: auto;
  word-wrap: break-word;
}

.bottom h5 {
  font-size: 8pt;
  margin-top: 1rem;
  margin-bottom: 0;
}

.bottom h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: deepskyblue;
}

.placeholder {
  flex: auto;
  max-width: 15rem;
}

@media screen and (max-width: 527px) {

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login {
    align-self: center;
    justify-content: center;
  }

  .login-icon {
    margin-left: 0;
  }

  .logo img {
    margin-left: 0;
  }

  .nav {
    flex-direction: column;
  }

  .article-container {
    justify-content: center;
  }

}

@media screen and (max-width: 853px) {

 .article-container {
    justify-content: center;
    /*align-items: center;*/
  }
}